.nav-link {
  border-radius: 0.25rem;
  font-weight: 500;
  padding: 0.5rem;
  transition: all 0.2s ease 0s;
}

.nav-link:hover {
  background: var(--chakra-colors-teal-200)
}

.nav-link--active {
  background: var(--chakra-colors-teal-50);
  color: var(--chakra-colors-teal-700);
  font-weight: var(--chakra-fontWeights-bold);
}
