.nav-link {
  border-radius: 0.25rem;
  font-weight: 500;
  padding: 0.5rem;
  transition: all 0.2s ease 0s;
}

.nav-link:hover {
  background: var(--chakra-colors-gray-400);
}

.nav-link--active {
  background: var(--chakra-colors-gray-200);
  color: var(--chakra-colors-gray-700);
  font-weight: 700;
}
